/* #searchbarParent {
  position: relative;
  width: 100vw;
  padding: 3.3em 1em 0.3em 1em;
  justify-self: center;
}

#searchbar {
  position: relative;
  background-color: rgb(239, 250, 239);
  padding: 0.8em;
  width: 100%;
  border: 3px solid rgb(50, 97, 50);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

#searchbar:focus {
  border-style: solid;
  border-color: var(--borderColor);
  outline: none;
  border-radius: 3px 3px 0px 0px;
}
#searchOutput {
  width: 100%;
  position: relative;
}

#searchOutput ul {
  position: absolute;
  z-index: 40;
  margin-top: 0;
  border: none;
  border-radius: 0px 0px 3px 3px;
  background-color: rgb(213, 241, 228);
  flex-direction: column;
  width: 100%;
}

#searchOutput li {
  list-style: none;
  padding: 10px 10px;
  cursor: pointer;
} */

#checklistDiv {
  width: 100%;
  height: auto;
  background-color: rgb(140, 207, 140);
  padding: 0.5em;
  position: relative;
  border-radius: 4px;
  padding-top: 0em;
  padding-bottom: 0em;
}

.checklistItem {
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: var(--dividerColor);
  font-size: 1.2em;
}

.checklistItem:last-child {
  border-bottom-style: none;
}

#itemName {
  flex: 1;
  padding-left: 2%;
}

#itemAmount {
  width: auto;
  padding-right: 2%;
  border: none;
  background-color: transparent;
  margin-right: 0.5em;
  font-size: 0.9em;
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: nunito;
}

/* CHECKBOX START*/
.checkbox[type="checkbox"] {
  margin: 2%;
  appearance: none;
  width: 1.9em;
  height: 1.9em;
  border: 0.15em solid var(--borderColor);
  border-radius: 0.2em;
  font: inherit;
  padding: 1px 1px 1px 0px;
  display: grid;
  place-content: center;
}

.checkbox[type="checkbox"]::before {
  content: "";
  width: 0.45em;
  height: 0.45em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
  box-shadow: inset 1em 1em var(--borderColor);
  padding: 5px 5px 5px 5px;
  background-color: var(--borderColor);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* CHECKBOX STOP*/

/* iPads (tablets) - Landscape */
@media (min-width: 769px) and (max-width: 1024px) {
  #checklistDiv {
    margin-top: 8px;
    position: relative;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: var(--borderColor);
  }
  #searchbarParent {
    position: relative;
    width: 60vw;
    padding: 3.9em 1em 0.3em 1em;
  }
}

/*........ Desktops ............*/
@media (min-width: 1025px) {
  #checklistDiv {
    margin-top: 8px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: var(--borderColor);
  }
  #searchbarParent {
    position: relative;
    width: 40vw;
    padding: 0.3em 1em 0.3em 1em;
  }
}

/* copiert */

#popUpEdit {
  flex-direction: row;
  border-color: aqua;
  display: none;
  margin: 5px;
}

#amountEdit {
  background-color: #f1f1f1;
  display: flex;
  /* flex-direction: row; */

  /* position:relative; */
  /* align-items:center
  /* justify-content: center; */
  border-color: var(--borderColor);
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
}

#removeItem {
  border-radius: 50px;
  border-style: solid;
  padding: 5px 5px 3px 5px;
  border-color: var(--borderColor);
  margin-left: 6px;
}

#trashSvg {
  margin: 1px 3px 2px 3px;
}

.amountbtns {
  background-color: #f1f1f1;
  border-style: hidden;
  /* padding-left: 14px; 
  padding-right: 14px; */
  padding: 10px;
  margin: 0px;
  /* font-style: bold; */
  font-size: large;
  border-radius: 15px;
}

#amountInput {
  width: 30px;
  padding-left: 10px;
  margin: 0px;
  outline: none;
  /* border:none; */
  background-color: #f1f1f1;
  /* border-top:0px;
  border-bottom:0px; */
  border-style: hidden;
  height: 90%;
  box-sizing: border-box;
}
