#headerDiv {
  background-color: var(--headerColor);
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  max-width: 100%;
  position: fixed; 
  z-index: 50;
  top: 0;
  padding-right: 2%;
}

#headerText {
  color: var(--fontColorLight);
  font-size: 2.1rem;
  padding-inline: 0.1em;
  padding-block: 0.1rem;
  flex: 1;
  text-align: center;
  font-weight: 500;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#hamburgerMenuBtn {
  flex: 0 0 auto;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}

#hamburgerMenuBtn:hover {
  background-color: var(--headerDarkerColor);
  cursor: pointer;
}
#hamburgerMenuBtn:active {
  background-color: var(--headerDarkerColor);
}

#hamburgerSvg {
  height: 100%;
  width: 3.51em;
  padding: 3px;
}

#hamburgerSvg:active {
  transform: translateY(2px);
}

/* iPads (tablets) - Landscape */
/* @media (min-width: 769px) and (max-width: 1024px) {
} */

/*........ Desktops ............*/
@media (min-width: 1025px) {
  body{
    padding-top: 4em;
  }
  
  #headerText {
    font-size: 3.4rem;
  }

  #hamburgerSvg {
    height: 100%;
    width: 5.51em;
  }

}

/* hamburger menu */
#hamburgerMenu {
  border: 4px solid var(--borderColor);
  position: absolute;
  right: 0;
  top: 100%;
  display: none; /* denne må endres til none når jeg beynner med js*/
  background-color: var(--backgroundColor);
  border-radius: 3px;
  width:100%;
}

#hamburgerMenu :hover {
  background: var(--backgroundDarkerColor);
}

a {
  text-decoration: none;
  color: var(--fontColor);
  padding: 8px;
  /* padding-right: %; */
  font-size: 1.8em;
  justify-content: left;
  
}

/* iPads (tablets) - Landscape */
@media (min-width: 769px) and (max-width: 1024px) {
  #hamburgerMenu { 
    width: 50%;
  }
}

@media (min-width: 1025px) {
  #hamburgerMenu { 
    width: 25%;
  }
  a {
    text-decoration: none;
    color: var(--fontColor);
    padding: 8px;
    padding-right: 200px;
    font-size: 1.8em;
  }
 
}


