* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 17%;
  font-size: 16px;
  color: rgb(25, 26, 25);
  /* font-family:"Poppins"; */
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: nunito;
  font-weight: 500;
  width: 100vw;
  background-color: var(--mainBackgroundColor);
}

#loginDiv {
  border: 4px solid var(--borderColor);
  border-radius: 15px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-inline: auto;
  margin-top: 30%;
  background-color: var(--loginBackgroundcolor);
  border-style:none;
}

h1 {
  font-weight: 600;
  padding-left: 6px;
  font-size: 1.9em;
  padding-bottom: 7px
}

input {
  padding: 0.5em;
  margin: 0.5rem;
  border: 3px solid var(--borderColor);
  border-radius: 5px;
  font-size:1.5rem;
  border-style:none;
}

input::placeholder {
  color:rgb(88, 87, 87);
  font-size:1.5rem;
}

input:focus {
  outline: none;
}


#submitLogin {
  width: 50%;
  background-color: var(--headerColor);
  margin-inline: auto;
  border-style:none;
  padding: 0.7em;
  border-radius: 5px;
  margin-top: 9%;
  font-weight: 400;
  font-size: 1.5em;
  color: #f1f1f1;
}




/* Desktops */
@media (min-width: 1025px) {

  #loginDiv {
    padding: 3em;
    width: 40%;
    margin-top: 10%;
  }

  h1 {
    padding-left: 2%;
    font-size: 2em;
  }
}
