* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0;
  font-size: 16px;
  color: rgb(25, 26, 25);
  /* font-family:"Poppins"; */
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: nunito;
  font-weight: 500;
  /* width: 100vw; */
  background-color: var(--mainBackgroundColor);
  /* max-width: 100vw; */


}


