/* :root {
  --headerColor: rgb(79, 138, 79);
  --headerDarkerColor: rgb(63, 110, 63);
 
  --borderColor: rgb(10, 109, 10);
  --dividerColor: rgb(110, 177, 110);
  --fontColor: rgb(25, 26, 25);

  --mainBackgroundColor: rgb(207, 252, 207);
  --backgroundColor: rgb(140, 207, 140);
  --backgroundDarkerColor:  rgb(125, 179, 125);
} */
/* 
:root {
  --headerColor: rgb(27, 116, 27);
  --headerDarkerColor: rgb(19, 99, 19);
 
  --borderColor: rgb(27, 116, 27);
  --dividerColor: rgb(110, 177, 110);
  --fontColor: rgb(25, 26, 25);

  --mainBackgroundColor: #a5f3a5;
  --backgroundColor:#b9fdb9 ;
  --backgroundDarkerColor:  rgb(157, 218, 157);
} */

/*desktop*/
/* :root {
  --headerColor: rgb(53, 102, 53);
  --headerDarkerColor: rgb(41, 94, 41);
 
  --borderColor: rgb(53, 102, 53);
  --dividerColor: rgb(178, 185, 178);
  --fontColor: rgb(25, 26, 25);

  --mainBackgroundColor: rgb(221, 248, 211);
  --backgroundColor:rgb(221, 248, 211);
  --backgroundDarkerColor: rgb(166, 192, 158);
} */

:root {
  --headerColor: rgb(39, 114, 39);
  --headerDarkerColor: rgb(41, 94, 41);
 
  --borderColor: rgb(40, 133, 40);
  --dividerColor: rgb(178, 185, 178);
  --fontColor: rgb(25, 26, 25);
  --fontColorLight: rgb(237, 250, 236);

  --mainBackgroundColor: rgb(250, 255, 247);
  --backgroundColor:rgb(250, 255, 247);
  --backgroundDarkerColor: rgb(166, 192, 158);

}
/* :root {
  --headercolor:
  --headerTextColor: 
  --mainBackgroundColor:

  --checklistColor: 
  --checklistTextColor:
  --checklistCheckmark: 

} */
